* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid{
  display: grid;
  width: 80%;
  grid-template-areas: 'box1 box2 box2 box2 box3'
  'box4 box2 box2 box2 box5'
  'box4 box2 box2 box2 box5'
  'box6 box7 box8 box9 box10';
  gap: 10px;
  margin: 1em auto;
}
img{
  width: 100%;
  height: 100%;
}
.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
  margin: 3em 1.5em;
}
.box5 {
  grid-area: box5;
  margin: 3em 1.5em;
}
.box6 {
  grid-area: box6;
}
.box7 {
  grid-area: box7;
}
.box8 {
  grid-area: box8;
}
.box9 {
  grid-area: box9;
}
.box10 {
  grid-area: box10;
}
